/* Add cute fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&display=swap");

/* Styling for the google sheet link button */
.google-sheet-link {
  display: inline-block;
  background-color: #ff9e80;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.google-sheet-link:hover {
  background-color: #ff6e40;
}

/* Update events styles */
.events {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.events__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.events__item {
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  flex: 1;
  min-width: 40rem;
  position: relative;
  flex-grow: 1;
  transition: 0.3s ease-in-out;
  height: auto;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.events__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0.6rem;
  transition: inherit;
}

.events__item:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-0.5rem) scale(1.01);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.events__item:hover:before {
  width: 25%;
  background-color: #ff6e40;
}

.events__item p {
  max-height: 100vh;
  opacity: 1;
  overflow: hidden;
}

/* Update timeline bar styles */
.events__timeline {
  width: 0.6rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.events__timeline__bar {
  position: absolute;
  width: 0.6rem;
  background-color: var(--color-secondary-light);
  transition: all 1s ease-out;
  border-top: 0.2rem solid var(--background-color);
  border-bottom: 0.2rem solid var(--background-color);
}

.events__timeline__now,
.events__timeline__start {
  position: absolute;
  right: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.events__timeline__now {
  top: 0;
}

.events__timeline__start {
  bottom: 0;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .events__items {
    margin-left: 1rem;
    flex-direction: column;
  }

  .events__item {
    min-width: 100%; /* Make it take the full width on small screens */
    padding: 1rem 2rem; /* Adjust the padding to fit better on small screens */
  }

  .events__timeline__now,
  .events__timeline__start {
    right: 0.5rem; /* Adjust the position to fit better on small screens */
  }
}
