.projects {
  margin: auto;

  &__cards_container {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    position: relative;
    margin: 2px;
    flex: 1;
    min-width: 30rem;
    max-width: 50rem;
    min-height: 25rem;
    color: inherit;
    background-color: rgba(black, 0.2);
    // background-color: rgba(255, 255, 255, 0.1); // changed from rgba(white, 0.1)
    padding: 2rem 3rem;
    text-decoration: none;
    color: inherit;
    backdrop-filter: blur(10px); // Added blur effect

    // New Hover Effect
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.2s ease;

    & h3 {
      font-size: 2rem;
      line-height: 1.3em;
      text-transform: uppercase;
    }
    &__keywords {
      top: 0;
      right: 0;
      text-align: right;

      float: right;
      height: 3rem;
      width: 10rem;
      shape-outside: margin-box;
    }
    &__label {
      font-size: 1.1rem;
      background-color: var(--color-grey-light-2);
      padding: 0.2rem 0.8rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin-left: 0.5rem;
    }
    &__link {
      color: var(--color-grey-dark-1);

      &:hover {
        background-color: var(--color-grey-light-2);
      }
    }

    &:hover {
      // background-color: rgba(black, 0.3);
      transform: translateY(-0.5rem) scale(1.01);
      background-color: rgba(black, 0.1);
      box-shadow: rgba(black, 0.199) -10px 10px, rgba(black, 0.19) -20px 20px;
      cursor: pointer;
    }
  }
}

.light-theme .projects__card {
  background-color: rgba(0, 0, 0, 0.2); // changed from rgba(black, 0.1)
  &:hover {
    background-color: rgba(black, 0.3);
  }
}

.project-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.projects__card:hover .project-image {
  opacity: 1;
}
