.projects {
  margin: auto;

  &__cards_container {
    display: flex;
    flex-wrap: wrap;
    // overflow-y: hidden;
    // overflow-x: visible;
  }

  &__card {
    position: relative;
    margin: 0.7rem;
    flex: 1;
    min-width: 30rem;
    // min-height: 20rem;
    color: inherit;
    background-color: rgba(white, 0.2);
    padding: 2rem 2rem;
    text-decoration: none;
    backdrop-filter: blur(1px);
    border-radius: 8px;
    // overflow-y: hidden;
    // overflow-x: visible;
    // overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.3s ease-in-out;
    height: auto;
    // max-height: 18em;

    & h3 {
      font-size: 2rem;
      line-height: 1.3em;
      text-transform: uppercase;
    }

    &__keywords {
      top: 0;
      right: 0;
      text-align: right;
      float: right;
      height: 3rem;
      width: 10rem;
      shape-outside: margin-box;
    }

    &__label {
      font-size: 1.1rem;
      background-color: var(--color-grey-light-2);
      padding: 0.2rem 0.8rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin-left: 0.5rem;
    }

    &__link {
      color: var(--color-grey-dark-1);

      &:hover {
        background-color: var(--color-grey-light-2);
      }
    }

    // & p {
    //   margin: 0;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   display: -webkit-box;
    //   -webkit-line-clamp: 4; /* Number of lines to show */
    //   -webkit-box-orient: vertical;
    //   word-break: break-word;
    // }

    &:hover {
      // transform: translateY(-0.5rem) scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.2) -6px 6px, rgba(0, 0, 0, 0.19) -12px 12px;
      cursor: pointer;
      backdrop-filter: blur(8px);
      background-color: rgba(white, 0.1);
      max-height: 40rem;

      // & p {
      //   /* Other styles */
      //   -webkit-line-clamp: initial; /* Remove the line-clamp limit */
      //   overflow: visible; /* Show the full content */
      // }
    }
  }
}

.projects__card p,
.projects__card p.date {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.projects__card p.show-text,
.projects__card:hover p,
.projects__card:hover p.date,
.projects__card p.date.show-text {
  max-height: 100vh;
}

.light-theme .projects__card {
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.project-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: auto;
  max-height: 20rem;
  z-index: 10;
  opacity: 0;
  object-fit: cover; // Add this
  transition: all 0.5s;
}

.projects__card:hover .project-image {
  opacity: 1;
  transform: translate(-150%, -150%); // Moves the image upwards on hover
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); // optional, adds a shadow effect to the image
  // scale: 1.01;
}
