// Define default colors
$primary-color: #81b29a;
$primary-color-light: #9ac1ae;
$primary-color-dark: #67a286;

$secondary-color: #e07a5f;
$secondary-color-light: #e58e76;
$secondary-color-dark: #db6443;

$terceary-color: #f2cc8f;
$terceary-color-light: #f4d5a4;
$terceary-color-dark: #eebc6d;

$light-grey-1: #f4f1de;
$light-grey-2: #faf9f0;
$light-grey-3: #d4d1be;
$light-grey-4: #E4E4E4;

$dark-grey-1: #313349;
$dark-grey-2: #3d405b;
$dark-grey-3: #52557a;
$dark-grey-4: #1E1E2F;

// Define default font sizes
$font-size-base: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
$font-size-small: 1.4rem;
$font-size-large: 1.6rem;

// Define default breakpoints
$breakpoint-largest: 75em; // 1200px
$breakpoint-large: 68.75em; // 1100px
$breakpoint-medium: 56.25em; // 900px
$breakpoint-small: 37.5em; // 600px
$breakpoint-smallest: 31.25em; // 500px

// Define default styles
:root {
  --color-primary: $primary-color;
  --color-primary-light: $primary-color-light;
  --color-primary-dark: $primary-color-dark;

  --color-secondary: $secondary-color;
  --color-secondary-light: $secondary-color-light;
  --color-secondary-dark: $secondary-color-dark;

  --color-terceary: $terceary-color;
  --color-terceary-light: $terceary-color-light;
  --color-terceary-dark: $terceary-color-dark;

  --color-grey-light-1: $light-grey-1;
  --color-grey-light-2: $light-grey-2;
  --color-grey-light-3: $light-grey-3;
  --color-grey-light-4: $light-grey-4;

  --color-grey-dark-1: $dark-grey-1;
  --color-grey-dark-2: $dark-grey-2;
  --color-grey-dark-3: $dark-grey-3;
  --color-grey-dark-4: $dark-grey-4;

  --background: var(--color-grey-dark-1);
  --lightground: var(--color-grey-light-4);
  --text: white;

  --shadow-dark
:root {
  // Other default styles

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  // --benzier-curve: cubic-bezier(0.86, -0.37, 0.62, 0.67);
  --benzier-curve: cubic-bezier(.49,-0.35,.56,1.39);
}

// Set default box-sizing
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  background: var(--background);
  text: var(--text);
  transition: 0.5s color ease;
  min-height: 100vh;
}

// Set default viewport width
@viewport {
  width: 100vw;
}

// Define theme switch styles
.theme-switch {
  list-style-type: none;
  margin: .8rem;
  padding: 1rem;
  display: flex;
  left: .5rem;
  flex-direction: row-reverse;
  z-index: 999;

  width: 70*.8px;
  height: 30*.8px;
  background: var(--color-grey-dark-4);
  border-radius: 50px;
  position: fixed;

  .switch {
    width: 24*.8px;
    height: 24*.8px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3*.8px;
    left: 4*.8px;
    transition: 0.5s all ease;
  }
}

// Define light theme styles
.light-theme {
  --background: var(--lightground);
  --text: black;
  background: var(--background);
  text: white;

  .switch {
    transform: translateX(37*.8px);
  }

  // Other light theme styles
}

// Define dark theme styles
.dark-theme {
  // Other dark theme styles
}
