@mixin vignete-gradient($direction, $mid-point) {
  background: linear-gradient(
    $direction,
    rgba(black, 0) 0%,
    var(--background-color) $mid-point,
    var(--background-color) 100%
  );
}

.container {
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  margin: auto;
  max-width: 120rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &__content {
    color: inherit;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 2rem; /* Further reduced padding for small screens */
    justify-content: space-around; /* Adjust content alignment on small screens */
  }
}


.vignete-top,
.vignete-bottom {
  position: fixed;
  width: 100%;
  z-index: 998;
  opacity: 0.5;
  background: var(--background-color);
}

.vignete-top {
  top: 0;
  height: 8rem;
  @include vignete-gradient(0deg, 60%);

  @media only screen and (max-width: $bp-medium) {
    height: 12rem;
    @include vignete-gradient(0deg, 50%);
  }

  @media only screen and (max-width: $bp-small) {
    height: 10rem;
    @include vignete-gradient(0deg, 50%);
  }
}

.vignete-bottom {
  bottom: 0;
  height: 3rem;
  @include vignete-gradient(180deg, 95%);
}
