@use "base";

@mixin vignete-gradient($direction, $mid-point) {
  background: linear-gradient(
    $direction,
    rgba(black, 0) 0%,
    var(--background-color) $mid-point,
    var(--background-color) 100%
  );
}

.container {
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  margin: auto;
  max-width: 120rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &__content {
    color: inherit;
  }

  @media only screen and (max-width: base.$bp-small) {
    padding: 2rem; /* Further reduced padding for small screens */
    justify-content: space-around; /* Adjust content alignment on small screens */
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.6;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.6;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.6;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.6;
  }
}

%vignete-base {
  position: fixed;
  z-index: 998;
  opacity: 0.6;
  pointer-events: none;
  background: var(--background-color);
  @include vignete-gradient(180deg, 90%);
  animation-duration: 2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

.vignete-top {
  @extend %vignete-base;
  top: 0;
  width: 100%;
  height: 8rem;
  @include vignete-gradient(0deg, 89%);
  animation-name: slideInTop;

  @media only screen and (max-width: base.$bp-medium) {
    height: 6rem;
  }

  @media only screen and (max-width: base.$bp-small) {
    height: 6rem;
  }
}

.vignete-bottom {
  @extend %vignete-base;
  bottom: 0;
  width: 100%;
  height: 3rem;
  animation-name: slideInBottom;
}

.vignete-sides {
  @extend %vignete-base;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 3rem;
  
  &.left {
    left: 0;
    @include vignete-gradient(270deg, 89%);
    animation-name: slideInLeft;
  }
  
  &.right {
    right: 0;
    @include vignete-gradient(90deg, 89%);
    animation-name: slideInRight;
  }
}
