////////////////////////////////////
// CUSTOM MIXINS
////////////////////////////////////

@use "sass:list";
@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "variables" as *;
@use "tokens" as tokens;
@use "mixins" as mix;
@use "./breakpoints" as bp;

// ==========================================================================
// Typography
// ==========================================================================

// Updated global heading mixin to ensure text is uppercase
@mixin heading($size, $transform: uppercase) {
  font-size: $size;
  text-transform: $transform;
  color: var(--text);
  transition: transform map.get(tokens.$transitions, 'duration', 'normal') map.get(tokens.$transitions, 'timing', 'default');
} 