@use "mixins" as mix;
@use "sass:map";
@use "tokens" as tokens;

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

.glass {
  @include mix.glass-morphism;
}

.fade-in {
  animation: fadeIn map.get(tokens.$transitions, 'duration', 'normal') map.get(tokens.$transitions, 'timing', 'default');
}
