.needs-dialog {
  &__slider-container {
    margin: 3rem 0;
  }

  &__slider {
    @extend %slider-base;
  }

  &__value {
    display: block;
    text-align: center;
    color: var(--text-color);
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  &__close {
    @extend .needs-button;
    margin-top: 2rem;
  }
} 