@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


// Variables for easier maintenance
$bg-color-card: #FFCDB2;
$border-color: #FFB4A2; // A softer color for the border
$text-color: #333; // Darker for better contrast
$text-hover-bg: rgba(255, 255, 255, 0.9); // Semi-transparent for hover
$card-hover-bg: lighten($bg-color-card, 10%); // Lighter background on hover
$border-hover-color: darken($border-color, 10%); // Darker border on hover
$font-size-default: 0.75em; // Smaller font size
$scale-hover: 1.3; // Subtle scale for hover

.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw; // Use viewport units for padding
  background-color: #f5f5f5bc;
  font-family: 'Arial', sans-serif;
  width: 100%;
  margin: auto;
}

.bingo-title {
  font-family: 'Indie Flower', cursive;
  font-size: 8vw; // Responsive font size
  color: #495057;
  text-align: center;
  text-shadow: 2px 2px #ced4da;
}

// Responsive Bingo card styles
.bingo-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw; // Responsive gaps
  padding: 2vw;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  background-color: #f5f5f5bc;
}

// Bingo card item styles
.bingo-card__item {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-card;
  color: $text-color;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  border-radius: 10px;
  border: 3px solid transparent;
  padding: 10px;
  position: relative;
  overflow: hidden;
  min-height: 7vw;
  aspect-ratio: 1 / 1;
  .bingo-card__goal {
    transition: transform 0.3s ease, opacity 0.3s ease; // Smooth transition for the goal
    // z-index: 1; // Ensure the goal is above the description
  }
  &:hover {
    background-color: $card-hover-bg;
    transform: scale($scale-hover); // Apply subtle scale
    border-color: $border-hover-color;
    z-index: 2; // Lift the card above others on hover
    .bingo-card__goal {
		transform: translateY(-170%); // Move the goal up to make room for the description
		opacity: 0.5;
	  }
	}
  &.checked {
    background-color: #bcffd1;
    color: $text-color;
    border: 3px solid $border-color;
  }

  .bingo-card__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.75em;
    color: $text-color;
    text-align: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    background-color: $text-hover-bg;
    padding: 5px;
    border-top: 1px solid $border-color;
  }

  &:hover .bingo-card__description {
    opacity: 1;
    visibility: visible;
  }
}


// Description styling for visibility on hover
.bingo-card__description {
  position: absolute;
  bottom: 0; // Position at the bottom of the card item
  font-size: $font-size-default; // Smaller font size for the description
  color: $text-color;
  width: calc(100% - 10px); // Width minus padding
  text-align: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0; // Start hidden
  visibility: hidden; // Also hide using visibility
  background-color: $text-hover-bg;
  padding: 5px;
  border-top: 1px solid $border-color; // Add a border for better separation
  box-sizing: border-box; // Include padding and border in the width
}

// Ensure the description is visible when the item is hovered or checked
.bingo-card__item:hover .bingo-card__description,
.bingo-card__item.checked .bingo-card__description {
  opacity: 1;
  visibility: visible; // Make visible when the item is hovered or checked
}

// Inside bingo.scss
.editable-input,
.editable-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  color: inherit;
  font-family: inherit;
  width: calc(100% - 8px); /* Adjusted width to accommodate border and padding */
  padding: 8px; /* Increased padding for better touch interaction */
  margin: 8px 0; /* Increased margin for better separation between fields */
  box-sizing: border-box; /* Ensure padding is included in the width */
  font-size: 16px; /* Increased font size for better readability on mobile devices */

  &:focus {
    outline: none;
    border-bottom-color: #666;
  }
}

.edit-mode {
  background-color: rgba(255, 255, 255, 0.2);
}
