@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

// Bingo card container styles
.bingo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #f5f5f5;
	font-family: 'Arial', sans-serif;
  }
  
  .bingo-title {
	font-family: 'Indie Flower', cursive; /* This applies the handwritten-style font */
	font-size: 10rem; /* Adjust size as needed */
	color: #495057; /* Choose a color that fits your design */
	text-align: center;
	margin: 0 0 20px; /* Add some space below the title */
	/* You can add more styles for effects, such as text shadow for a cool look */
	text-shadow: 2px 2px #ced4da;
  }
   
  // Bingo card styles
  .bingo-card {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
	max-width: 600px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  // Styles for each Bingo card item
  .bingo-card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	background-color: #e9ecef;
	color: #495057;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s, box-shadow 0.2s;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;
	position: relative;
  
	&:hover {
	  background-color: #ced4da;
	  transform: scale(1.03);
	  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  
	  .bingo-card__description {
		opacity: 1;
	  }
	}
  
	&.checked {
	  background-color: #82e0aa; // A green background for checked items
	  color: #ffffff; // White text color for better contrast
	  border: 3px solid #28b463; // Green border to highlight checked items
  
	  .bingo-card__description {
		text-decoration: line-through; // Optional: Strikethrough description
		color:#495057; // Lighter text color for the description
	  }
	}
  }
  
  // Description styling for reveal on hover or click
  .bingo-card__description {
	font-size: 0.9em;
	color: #343a40;
	margin-top: 5px;
	text-align: center;
	transition: opacity 0.3s;
	opacity: 0; // Start hidden
	width: 100%; // Ensure it spans the width of its parent
  }
  