@use "variables" as *;
@use "mixins" as mix;

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

.glass {
  @include mix.glass-morphism;
}

.fade-in {
  animation: fadeIn $transition-duration $transition-timing;
}
