.needs-title {
  font-size: 6rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 4rem;
  text-transform: uppercase;
  transition: all 0.3s var(--bezier-curve);
  text-shadow: 0 0 15px var(--color-primary-dark);
  letter-spacing: 0.5rem;
  position: relative;

  &:hover {
    transform: scale(1.05);
    letter-spacing: 1rem;
    text-shadow: 0 0 20px var(--color-primary);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color-primary), transparent);
  }
} 