.about-me {
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;

  & p,
  a {
    margin-bottom: 3rem;
    color: inherit;
    position: relative;
    text-align: left;
  }

  &__img {
    width: 40rem;
    height: 50rem;
    opacity: 0.6;
    filter: blur(3px);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__spotify {
    width: 100%;
    max-width: 400px; /* restrict maximum width */
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    margin-left: 3rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Adjust this value as needed */
  .about-me__text-container {
    flex-direction: row;
    align-items: start;
    gap: 3rem;
  }

  .about-me {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      shape-outside: ellipse(23rem 22rem at 50% 50%);
    }

    &__spotify {
      margin-left: 3rem;
      margin-bottom: 0;
    }

    &__text {
      margin-left: 0;
    }
  }
}

body.light-theme .about-me__img img {
  filter: invert(100%);
}

.about-me__header,
.about-me__img {
  transition: transform 0.3s ease;
}

.about-me__header:hover,
.about-me__img:hover {
  transform: scale(1.1);
}

/* Mobile-friendly styles */
@media (max-width: 767px) {
  .about-me__text-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .about-me {
    &__img {
      position: relative;
      top: initial;
      left: initial;
      z-index: initial;
      shape-outside: none;
    }

    &__spotify {
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
  }
}
