.about-me {
  display: flex;
  flex-direction: column;
  color: inherit;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;

  & p,
  a {
    margin-bottom: 2rem;
    color: inherit;
    position: relative;
    text-align: left;
  }

  &__img {
    width: auto;
    height: 100%;
    opacity: 0.6;
    filter: blur(3px);
    max-height: 800px;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: row;
  }

  &__text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__spotify {
    width: 90vw;
    max-width: 400px;
    margin-left: 3rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    width: 100%;
  }
}

.hover-color-change:hover {
  color: var(--color-terceary-dark); /* Change this to the color you want */
  transition: color 0.5s;
}

@media (min-width: 768px) {
  .about-me {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      shape-outside: ellipse(23rem 22rem at 50% 50%);
      height: auto;
      overflow: hidden;
      width: auto;
      height: 100%;
      img {
        max-height: 800px;
        object-fit: contain;
      }
    }
  }
}

body.light-theme .about-me__img img {
  filter: invert(100%);
}

body.light-theme .hover-color-change:hover {
  // filter: invert(1);
  color: var(--color-terceary-darker);
}

.about-me__header,
.about-me__img {
  transition: transform 0.3s ease;
}

.about-me__header:hover,
.about-me__img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .about-me {
    &__img {
      width: 90vw;
      max-width: 400px;
    }

    &__spotify {
      width: 90vw;
      margin-bottom: 1.5rem;
      margin-left: 0;
    }

    &__content-container {
      flex-direction: column;
    }
  }
}
