/* A class container for the card element */
.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* Card element with properties set */
#card {
  /* Center the card element on the page and add a margin */
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  flex: 1;
  min-width: 30rem;
  max-width: 50rem;
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 1rem;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: inherit;
}

/* Style for the model-viewer element */
model-viewer {
  /* Set the width and height, and add a background color */
  width: 100%;
  height: 400px;
  background-color: #ffffff;

  /* Set the poster color to transparent */
  --poster-color: #ffffff00;
}

/* Progress bar element */
.progress-bar {
  /* Display the element as a block, set the width and height, and position it in the center */
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  /* Add a border radius, shadow, and a solid white border */
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5),
    0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}
.attribution h1 {
  margin: 0 0 0.1em;
}
#card:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#card .attribution h2 a:hover {
  background-color: var(--color-grey-light-2);
}

.light-theme #card {
  background-color: rgba(0, 0, 0, 0.1);
}

.slider {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.slide {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  border-radius: 10px;
}

.slide.selected {
  border: 2px solid blue;
}

#ar-button {
  /* sets the background image of the button to an image located at '/ar_icon.png' */
  background-image: "/ar_icon.png";
  /* sets the background image not to repeat */
  background-repeat: no-repeat;
  /* sets the width and height of the background image to 20px by 20px */
  background-size: 20px 20px;
  /* sets the position of the background image to 12px from the left and centered vertically */
  background-position: 12px 50%;
  /* sets the background color of the button to white */
  background-color: #fff;
  /* sets the position of the button to absolute */
  position: absolute;
  /* sets the left side of the button to be centered horizontally */
  left: 50%;
  /* moves the button to the left by 50% of its own width */
  transform: translateX(-50%);
  /* sets white-space to nowrap to prevent text from wrapping */
  white-space: nowrap;
  /* sets the bottom position of the button to 16px */
  bottom: 16px;
  /* sets the padding of the button to 0px on the left and right, and 16px on the top and bottom */
  padding: 0px 16px 0px 40px;
  /* sets the font of the button to Roboto Regular, with a fallback to Helvetica Neue, and a generic fallback of sans-serif */
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  /* sets the font size of the button to 14px */
  font-size: 14px;
  /* sets the text color of the button to #4285f4 */
  color: #4285f4;
  /* sets the height of the button to 36px */
  height: 36px;
  /* sets the line height of the button to 36px */
  line-height: 36px;
  /* sets the border radius of the button to 18px */
  border-radius: 18px;
  /* sets the border of the button to 1px solid #dadce0 */
  border: 1px solid #dadce0;
}

#ar-button:active {
  /* sets the background color of the button to #e8eaed when it is in an active state */
  background-color: #e8eaed;
}

#ar-button:focus {
  /* removes the outline when the button is in focus */
  outline: none;
}

#ar-button:focus-visible {
  /* adds an outline when the button is in focus and it is visible */
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
#ar-failure {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 88px;
  display: none;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  white-space: nowrap;
}
