#card {
  color: #244376;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 400px;
  background-color: #70bcd1;
  --poster-color: #ffffff00;
}
