.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__text {
    flex-shrink: 1;
    margin-left: 3rem;

    & h1 {
      font-size: 5rem;
      line-height: normal;
      display: inline;
      transition: color 0.5s;

      &:hover {
        color: var(--border-colorolor-secondary-light);
      }
    }
    & h2 {
      font-size: 2rem;
      line-height: normal;
      display: inline;
      transition: color 0.5s;
      margin-bottom: 0.4em;
      &:hover {
        color: var(--border-colorolor-primary-light);
      }
    }
    & h3 {
      font-size: 1.8rem;
      line-height: normal;
      display: inline;
      transition: color 0.5s;

      &:hover {
        color: var(--border-colorolor-terceary-dark);
      }
    }
  }

  &__image-container {
    margin: 1rem;
    flex-shrink: 2;
    max-width: 25rem;
    position: relative;
    width: 25rem;
    height: 25rem;

    & a {
      img {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 1s ease;
        width: 100%;
        height: 100%;
        opacity: 0; // All images are transparent by default
        object-fit: cover;
        border-radius: 50%;
        pointer-events: none; // The image does not receive hover/click events
        @extend .avatar !optional;
      }

      img.active {
        opacity: 1; // The active image is visible
        pointer-events: auto; // The active image can be hovered and clicked
      }
    }
  }
}

.social {
  margin-top: 1rem;

  &__icon {
    height: 4rem;
    width: 4rem;
    color: var(--text);
    padding: 0.7rem;
    display: inline;

    & a {
      color: inherit;
      text-decoration: none;
    }

    & i {
      color: inherit;
      font-size: 2.5em;
      transition: color 0.5s;

      &:hover {
        color: var(--border-colorolor-terceary-dark);
      }
    }
  }
}

.avatar {
  --image-size: 100%; /* image size */
  --init-scale: 1; /* initial scale */
  --border-thickness: 1px; /* border thickness */
  --border-color: #cdd2d7; //#5e616b; /* border color */

  width: var(--image-size);
  // padding-top: calc(var(--image-size) / 5);
  // border-radius: 0 0 999px 999px;
  // aspect-ratio: 1;

  --mask-gradient: 50% / calc(100% / var(--init-scale)) 100% no-repeat
    content-box;
  --outline-offset-calculated: calc(
    (var(--init-scale) - 1) * var(--image-size) / 2 - var(--border-thickness)
  );
  outline: var(--border-thickness) solid var(--border-color);
  outline-offset: var(--outline-offset-calculated);

  background: radial-gradient(
      circle closest-side,
      #cdd2d7 calc(99% - var(--border-thickness)),
      var(--border-color) calc(100% - var(--border-thickness)) 99%,
      #0000
    )
    var(--mask-gradient);

  -webkit-mask: linear-gradient(#000 0 0) no-repeat 50%
      calc(1px - var(--outline-offset-calculated)) /
      calc(100% / var(--init-scale) - 2 * var(--border-thickness) - 2px) 50%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--mask-gradient);
  transform: scale(var(--init-scale));
  transition: 0.5s;
}

.avatar:hover {
  --init-scale: 1.3; /* hover scale */
}

@media only screen and (max-width: $bp-medium) {
  .header {
    flex-direction: column;

    &__text {
      text-align: center;
      margin-left: 0;
      margin-top: 3rem;
    }

    & h1 {
      font-size: 4rem;
    }
    & h2 {
      font-size: 3rem;
      line-height: 1.1em;
    }
    & h3 {
      font-size: 1.8rem;
      line-height: 1em;
    }
  }
  .social {
    &__icon i {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .header {
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 2rem;
      line-height: 1.1em;
    }
    & h3 {
      font-size: 1.8rem;
      line-height: 1em;
    }
  }
  .social {
    &__icon i {
      font-size: 2em;
    }
  }
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(var(--x, 0), var(--y, 0)) rotate(var(--r, 0))
    scale(var(--image-size, 1));
}

h1,
h2,
h3 {
  &:hover {
    .letter {
      z-index: 2;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      --image-size: 1.15;
    }
  }
}
