.needs-pyramid {
  &__visual {
    position: sticky;
    top: 4rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__sections-container {
    width: 100%;
    max-width: 120rem;
    padding: clamp(2rem, 3vw, 4rem);
    perspective: 2000px;
  }
} 