.about-me {
  display:flex;
  flex-direction: column;
  color: inherit;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;

  & p, a {
    margin-bottom: 3rem;
    color: inherit;
    position: relative;
    text-align: justify;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    shape-outside: ellipse(23rem 22rem at 50% 50%);
    width: 40rem;
    height: 50rem;
    opacity: 0.6;
    filter: blur(3px); /* add this line */
    img {
      width: 100%;
      height: 100%;
    }
  }

  /* Add this new div element */
  &__text-container {
    display: table;
    flex-wrap: nowrap;
  }

  &__spotify {
    /* Float the Spotify element to the right */
    float: right;
    /* Add some space between the elements */
    margin: 0 0 0 0;
    img {
      width: 100%;
      height: 100%;
      
    }
  }

  &__text {
    margin-left: 3rem;
    width: 100%;
    /* Remove the float from the text */
    float: none;
    /* Add some space between the elements */
    margin: 0 0 0 0;
  }
}
@media (min-width: 500px) {
  .about-me__spotify {
    margin-left: 5rem;
  }
}

body.light-theme .about-me__img img {
  filter: invert(100%);
}
.about-me__header,
.about-me__img,
.about-me__text p {
  /* Other styles */
  transition: transform 0.3s ease;
}

.about-me__header:hover,
.about-me__img:hover,
.about-me__text p:hover {
  transform: scale(1.1);
}
