.about-me {
  color: inherit;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;

  & p, a {
    margin-bottom: 3rem;
    text-align: left;
    color: inherit;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    shape-outside: ellipse(23rem 22rem at 50% 50%);
    width: 40rem;
    height: 50rem;
    opacity: 0.6;
    filter: blur(3px); /* add this line */
    img {
      width: 100%;
      height: 100%;
    }
  }

  /* Add this new div element */
  &__text-container {
    display: table;
    flex-wrap: wrap;
  }

  &__spotify {
    /* Float the Spotify element to the right */
    float: right;
    /* Add some space between the elements */
    margin: 0 0 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    margin-left: 3rem;
    width: calc(100% - 200px);
    /* Remove the float from the text */
    float: none;
    /* Add some space between the elements */
    margin: 0 0 0 0;
  }
}
