#magicContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2; 
}

  /* Spotlight position and size */
  /* --x: 50%; */
  /* --y: 50%; */
  /* --spotlight-size: 28vw; */

  /* Opacity values for the gradient */
  /* --inner-opacity: 0.6; */
  /* --outer-opacity: 0.4; */

  /* Spotlight effect using a radial gradient */
  /* mask: radial-gradient( */
    /* circle var(--spotlight-size) at var(--x) var(--y), */
    /* rgba(255, 255, 255, var(--inner-opacity)) 10%, */
    /* rgba(255, 255, 255, var(--outer-opacity)) 90% */
  /* ); */

  /* Compatibility property for browsers like Safari */
  /* -webkit-mask: radial-gradient( */
   /* circle var(--spotlight-size) at var(--x) var(--y), */
    /* rgba(255, 255, 255, var(--inner-opacity)) 10%, */
    /* rgba(255, 255, 255, var(--outer-opacity)) 90% */
  /* ); */

  /* Transition for smoother spotlight movements */
  /* transition: mask 0.2s ease, -webkit-mask 0.2s ease; */

