.now-playing {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  
    p {
      margin: 0;
      color: var(--text);
      transition: color 0.5s;
  
      &:hover {
        color: var(--color-terceary-dark);
      }
    }
  }
  
  @media only screen and (max-width: $bp-medium) {
    .now-playing {
      font-size: 1.4rem;
    }
  }
  
  @media only screen and (max-width: $bp-small) {
    .now-playing {
      font-size: 1.2rem;
    }
  }
  